.editor-page-top-layout {
    height: 100%;
    background-color: #fff;
}

@media (max-width: 992px) {
    .content-layout {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .content-layout {
        margin-left: 281px;
    }
}

.content-layout {
    background-color: #fff;
}

.editor-page-layout-background {
    height: 100%;
}

.editor-page-sider {
    border-right: 1px solid #f0f0f0;
    height: calc(100% - 64px);
    position: fixed;
    overflow: auto;
}

.editor-page-sider-search {
    border: 0;
    box-shadow: none;
}

.sider-header {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 16px;
}

.header-content {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 24px;
}