@import '~antd/dist/antd.css';

.app-container {
    height: 100%;
}

.app-container-content {
    background-color: #fff;
}

.ant-btn {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.ant-btn-dangerous.ant-btn-primary {
    box-shadow: none;
    -webkit-box-shadow: none;
}